* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

body{
  background: #e1e6eb;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.loader:not(.data-container .loader) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(50vw, 200px);
  height: min(50vw, 200px);
  transform: translate(-50%,-50%);
}

.loader div, .loader::before, .loader::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #e74d4a;
  animation: pulse 1.5s infinite .3s;
  opacity: 0;
}

.loader:before {
  content: '';
  position: absolute;
  display: inline-block;
  background: url('/images/pokeball.svg');
  animation: pulse 1.5s infinite;
}

.loader::after {
  content: '';
  position: absolute;
  display: inline-block;
  animation: pulse 1.5s infinite .6s;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);  
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }
  
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* style types */
.types {
  display: flex;
  gap: 5px;
}

.types div {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 5px;
}

.types div > span {
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
}

.types div > img {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

.types .bug {
  background: #8cb230;
}

.types .dark {
  background: #58575f;
}

.types .dragon {
  background: #0f6ac0;
}

.types .electric {
  background: #eed535;
}

.types .fairy {
  background: #ed6ec7;
}

.types .fighting {
  background: #d04164;
}

.types .fire {
  background: #fd7d24;
}

.types .flying {
  background: #748fc9;
}

.types .ghost {
  background: #556aae;
}

.types .grass {
  background: #62b957;
}

.types .ground {
  background: #dd7748;
}

.types .ice {
  background: #61cec0;
}

.types .normal {
  background: #9da0aa;
}

.types .poison {
  background: #a552cc;
}

.types .psychic {
  background: #ea5d60;
}

.types .rock {
  background: #baab82;
}

.types .steel {
  background: #417d9a;
}

.types .water {
  background: #4a90da;
}


/* style pokemon background color */
.bug {
  color: #8bd674;
}

.dark {
  color: #75747e;
}

.dragon {
  color: #1582e7;
}

.electric {
  color: #f2cb55; 
}

.fairy {
  color: #e98acc;
}

.fighting {
  color: #eb4971;
}

.fire {
  color: #ff9448;
}

.flying {
  color: #829edb;
}

.ghost {
  color: #6882d4;
}

.grass {
  color: #8bbe8a;
}

.ground {
  color: #f78551;
}

.ice {
  color: #6bddce;
}

.normal {
  color: #c5c9d6;
}

.poison {
  color: #bd5fe9;
}

.psychic {
  color: #ff787a;
}

.rock {
  color: #d5c895;
}

.steel {
  color: #4d92b4;
}

.water {
  color: #58abf6;
}


/* style main components */
#root {
  padding: 2vw 7.5vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .logo-pokemon {
  position: relative;
  display: flex;
  margin: 0 auto;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: max(5vw, 5rem);
  color: #ffcb05;
  text-align: center;
  -webkit-text-stroke: 5px #3b5ca8;
  text-shadow: -1px 0px 0px #1d2c5e;
}

.wrapper .logo-pokemon::before {
  content: 'Pokédex';
  position: absolute;
  left: -5px;
  bottom: -6px;
  -webkit-text-stroke: transparent;
  color: #1d2c5e;
  z-index: -1;
}

.types-bar {
  display: flex;
  width: 100%;
  padding: 15px 2vw; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
  gap: 10px;
  background: #eef5fd;
  border-radius: 10vw;
  box-shadow: 0 0 10px 5px #d5d5d5;
}

.types-bar a {
  display: flex;
  width: 7vw;
  height: 7vw;
  padding: 1.5vw;
  cursor: pointer;
  border-radius: 100%;
  background: currentColor;
  transition: transform .3s;
}

.types-bar a img {
  width: 100%;
  height: 100%;
}

.types-bar a:hover {
  transform:scale(1.2);
}

.pokemons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.pokemon-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 5.5vw;
  width: 100%;
  height: 32vw;
  cursor: pointer;
  border-radius: 8px;
  background: currentColor;
  transition: transform 0.2s;
  box-shadow: 0 15px 40px 0 currentColor;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25%;
  width: 30%;
  height: 30%;
  background: radial-gradient(rgba(255, 255, 255, 0.1) 2px, #000 2px, transparent 0);
  background-size: 14px 14px;
}

.pokeball-bg {
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  overflow: hidden;
}

.pokeball-bg::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 105%;
  transform: translate(0, -50%);
  background: rgba(255, 255, 255, 0.11);
  mask: url("/images/pokeball-transparent.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask: url("/images/pokeball-transparent.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.pokemon-card > div:first-of-type {
  display: flex;
  gap: 2px;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-card .id-number {
  font-size: 0.9rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.4);  
}

.pokemon-card .pokemon-name {
  font-weight: 600;
  font-size: min(35px, 6.5vw);
  color: #fff;
}

.pokemon-name{
  text-transform: capitalize;
}

.pokemon-card .pokemon-image {
  position: relative;
  bottom: 20%;
  height: 112%;
  max-width: 30vw;
  margin-left: auto;
}

/* Modal */
.modal {
  --main-padding: 6vw 6vw 0 6vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background: currentColor;
  overflow: hidden;
}

.modal[data-state='open'] {
  animation: unfoldIn .8s ease-in-out;
}

.modal[data-state='closed'] {
  animation: unfoldOut .7s ease-in-out;
}


.modal::before {
  content: attr(data-content);
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 18vw;
  font-weight: 800;
  text-transform: uppercase;
  mask-image: linear-gradient(to bottom, #000 50%, transparent 80%);
  text-stroke: 2px rgba(255, 255, 255, 0.065);
  -webkit-mask-image: linear-gradient(to bottom, #000 50%, transparent 80%);
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.065);
  z-index: -1;
}

.modal::after {
  content: '';
  position: absolute;
  top: 30%;
  right: 0;
  width: 25%;
  height: 12%;
  background: radial-gradient(rgba(255, 255, 255, 0.1) 2px, #000 2px, transparent 0);
  background-size: 14px 14px;
  z-index: -1;
}

.hidden {
  animation: unfoldOut .7s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

.pokemon-intro {
  padding: var(--main-padding);
  flex: 1
}

.arrow-back {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 2px;
  margin: 10px;
  background: #fff;
  cursor: pointer;
}

.arrow-back::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: -5px;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
}

.current-pokemon {
  display: flex;
  align-items: center;
}

.current-pokemon img {
  width: 50%;
  height: 100%;
  margin-right: 25px;
  animation: shake .4s cubic-bezier(.36,.07,.19,.97) both, blur .3s ease-out;
  animation-delay: .55s;
}

.current-pokemon > div:first-of-type {
  display: flex;
  flex-direction: column;
}

.pokemon-intro .id-number {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.pokemon-name {
  font-size: 7.2vw;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.current-pokemon .types {
  display: flex;
}

.current-pokemon .types div {
  display: flex;
  align-items: center;
  padding: 4px 5px;
}

.current-pokemon .types span {
  font-size: 13px;
}

.modal nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 3vw 0 3vw;
}

.modal nav button {
  padding: 3vw 4.5vw;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.39);
  border-color: transparent;
  background: transparent;
  transition: color .2s ease-in-out;
}

.modal nav button:hover {
  color: #fff;
}

.modal nav button.active {
  position: relative;
  color: #fff;
}

.modal nav button.active::before {
  --scale: 1;

  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  -webkit-mask: url("/images/pokeball-transparent.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask: url("/images/pokeball-transparent.svg");
  mask-repeat: no-repeat;
  mask-size: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.7) 100%);
  z-index: -1;
  animation: fill .5s both;
}

.data-container {
  padding: var(--main-padding);
  padding-bottom: 5vw;
  max-height: 38vh;
  background: #fff;
  border-radius: 25px;
  overflow-y: auto;
}

.data-container .error-msg {
  display: block;
  text-align: center;
}

.data-container .loader {
  position: relative;
  margin: auto;
  width: 15vw;
  height: 15vw;
}

.data-container .loader div, .data-container .loader::before, .data-container .loader::after {
  position: absolute;
  height: 100%;
  width: 100%;
}

.evolution-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4.5vh;
}

.evolution-container:last-child {
  margin: 0;
}

.evolution-container span {
  display: block;
}

.evolution-container .poke-img {
  display: flex;
  position: relative;
  width: 25vw;
  height: 25vw;
}

.evolution-container .pokeball-bg {
  top: 0;
  left: 0;
  width: 100%;
}

.evolution-container .pokeball-bg::after {
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.evolution-container .poke-img img {
  display: block;
  width: 65%;
  margin: 0 auto;
}

.evolution-container span {
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: #000;
}

.evolution-container .evolution-level {
  font-size: 14px;
}

.evolution-container .arrow {
  position: relative;
  display: inline-block;
  width: 6vw;
  height: 0.4vw;
  margin-top: 1vw;
  background: #ebe9e9;
}

.evolution-container .arrow::after { 
  content: '';
  position: absolute;
  height: 2vw;
  width: 2vw;
  right: 1px;
  top: -1.3vw;
  border: 0.6vw solid #ebe9e9;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-40deg);
}

td > img {
  margin-right: 5px;
  width: max(22px, 1.8vw);
  height: max(22px, 1.8vw);
  padding: 5px;
  border-radius: 3px;
  background: currentColor;
}

.data-container h4 {
  color: currentColor;
}

.data-container table {
  width: 100%;
  border-spacing: 0 1.1vh;
}

.data-container td {
  padding: 0 3vw;
}

.data-container .category {
  padding: 0 10vw 0 0;
  font-weight: 600;
  color: #3d3d40;
  text-transform: capitalize;
}

.data-container td:nth-child(2) {
  color: #7d7d7d;
}

td.range-slide {
  width: 70%;
  padding: 0;
}

.range-slide-fill {
  position: relative;
  height: 5px;
  border-radius: 10px;
  width: var(--precentage);
}

.range-slide-fill::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: currentColor;
  border-radius: 100px;
  animation: fill 1s backwards;
}

@media screen and (min-width: 880px) {
  #root {
    padding: 0.5vw 5vw;
  }

  .pokemon-card {
    width: 30%;
    height: 200px;
    padding: 1.5vw;
  }
  
  .pokemon-card .pokemon-name {
    font-size: 2.2vw;
  }

  .pokemon-card .pokemon-image {
    max-width: 10vw;
  }

  .types-bar {
    width: 48%;
    padding: 1vw 2vw;
  }

  .types-bar a {
    width: 3vw;
    height: 3vw;
    padding: 0.5vw;
  }

  .modal {
    --main-padding: 3vw 3vw 0 3vw;
    width: 60%;
  }

  .modal::before {
    top: 2%;
    font-size: 10vw;
  }

  .current-pokemon {
    justify-content: center;
  }

  .current-pokemon img {
    width: 20%;
    margin-right: 5%;
  }

  .current-pokemon span.pokemon-name {
    font-size: 3.5vw;
  }
  
  .modal nav button {
    padding: 1.5vw 2.8vw;
  }
  
  .data-container {
    scrollbar-width: thin;
    scrollbar-color: currentColor transparent;
    padding: 2vw;
  }

  .data-container table {
    width: 100%;
    border-spacing: 0 1.75vh;
  }

  .data-container::-webkit-scrollbar-thumb {
    background: currentColor;
    border-radius: 50px;
  }

  .data-container::-webkit-scrollbar {
    background: transparent;
    width: 6px;
  }

  .data-container .category {
    padding: 0; 
  }

  .evolution-container .poke-img {
    width: 10vw;
    height: 10vw;
  }

  .evolution-container .arrow {
    width: 4vw;
    height: 0.2vw;
  }

  .evolution-container .arrow::after {
    height: 1vw;
    width: 1vw;
    right: 1px;
    top: -0.6vw;
    border-width: 0.25vw;
  }
  
  .data-container .loader {
    width: 3.5vw;
    height: 3.5vw;
  }
}


/* animations */
@keyframes fill {
  0% {
    width: 0%;
  }
}

@keyframes zoom {
  0% {
    --scale: 0;
    transform-origin: 50% 100%;
  }

  100% {
    --scale: 1;
    transform-origin: 50% 100%;
  }
}

@keyframes unfoldIn {
  0% {
    transform: translate(-50%, 0%) scaleY(.005) scaleX(0);
  }
  
  50% {
    transform: translate(-50%, 0%) scaleY(.005) scaleX(1);
  }

  100% {
    transform: translate(-50%, -50%) scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: translate(-50%, -50%) scaleY(1) scaleX(1);
  }

  50% {
    transform: translate(-50%, 0%) scaleY(.005) scaleX(1);
  }

  100% {
    transform: translate(-50%, 0%) scaleY(.005) scaleX(0);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(20px);
    opacity: 0;
  }

  85% {
    -webkit-filter: blur(15px);
    opacity: 1;
  }
  
  100% {
    -webkit-filter: blur(0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}